.invalido {
    color: red;
    font-size: 80%;
  }
  .cursor{
    cursor: pointer;
  
  }
  .espacio{
    left: -27px;
  }
  .advertencia {
    color: orange;
    font-size: 80%;
  }
  
  .is-valido {
    border-color: #2dce89;
  }
  
  .is-invalido {
    border-color: red;
  }
  
  .is-advertencia {
    border-color: orange;
  }
  
  .valido {
    color: #65174a;
    font-size: 80%;
  }
  
  .invalido-circle {
    background-color: red;
  }
  
  .valido-circle {
    background-color: #2dce89;
  }
  
  .candidatoIndependiente {
    background-color: aliceblue;
  }
  .centrado{
      text-align: center;
  }
  