<div class=" header bg-danger pb-6">
    <div class=" container-fluid">
      <div class=" header-body">
        <div class=" row align-items-center py-4">
          <div class=" col-lg-6 col-7">
            <h6 class=" h2 text-white d-inline-block mb-0">Información del Expediente</h6>
  
            <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
              <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
                <li class=" breadcrumb-item">
                  <a class="h2 text-white"><i class="fas fa-home"></i> </a>
                </li>
  
                <li class=" breadcrumb-item" >
                    <a class="h2 text-white">PES</a>
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <mat-grid-list cols="1" rowHeight="200px"  *ngIf="spinner==true; else divDocumento">
    <mat-grid-tile>
        <mat-spinner></mat-spinner>
        <p class="spiner"> CARGANDO INFORMACIÓN...</p>
    </mat-grid-tile>
  </mat-grid-list> -->

   
  
  <div class=" container-fluid mt--6">
    <div class=" card mb-4">
        
      <div class=" card-header"><h3 class=" mb-0">Procedimiento Especial Sancionador</h3>
      </div>
      <div class=" card-body">
        <div class=" row">
            <div class=" col-12">
                <div class=" form-group">
                  <div class=" card-header">
                    <div class="row">
                        <div class="col-md-3 ">
                            <label class="form-control-label">Expediente:</label>
                            <div class=" form-group">
                                <div class=" input-group input-group-merge">
                                    <input class=" form-control" placeholder="1/2023-PES-CG" type="text"/>
                                </div>
                            </div>                                    
                        </div>
                        <div class="col-md-5 ">
                            <label class="form-control-label">Fecha de presentación de la queja o denuncia:</label>
                            <div class="form-group">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                    </div>
                                    <input class="form-control datepicker" placeholder="Seleciona la fecha" type="text">
                                </div>
                            </div>                                 
                        </div>                                                                    
                    </div>
                    <div class="row">
                        <div class="col-md-5 ">
                            <label class="form-control-label">Parte denunciante:</label>
                            <div class=" form-group">
                                <div class=" input-group input-group-merge">
                                    <input class=" form-control" type="text"/>
                                </div>
                            </div>                                    
                        </div> 
                        <div class="col-md-5 ">
                            <label class="form-control-label">Parte denunciada:</label>
                            <div class=" form-group">
                                <div class=" input-group input-group-merge">
                                    <input class=" form-control" type="text"/>
                                </div>
                            </div>                                    
                        </div>            
                    </div>
                    <div class="row">
                        <div class="col-md-7 ">
                            <label class="form-control-label">Materia de la queja o denuncia:</label>
                            <div class=" form-group">
                                <div class=" input-group input-group-merge">
                                    <select class="form-control">
                                        <option></option>
                                        <option>Primera</option>
                                        <option>Segunda</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 ">
                            <label class="form-control-label">•Mención relativa a si la queja o denuncia fue admitida a trámite o si recayó en ella un acuerdo de desechamiento o de incompetencia:</label>
                            <div class=" form-group">
                                <div class=" input-group input-group-merge">
                                    <select class="form-control">
                                        <option></option>
                                        <option>Primera</option>
                                        <option>Segunda</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>



                  <!-- <app-wizard></app-wizard> -->
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/assets-old/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
  <!-- <div *ngIf="hello; then div1 else div2"></div>
  <ng-template #div1>
        <p>div 1</p>
  </ng-template>
  <ng-template #div2>
    <p>div 2</p>
  </ng-template>

  <p>Hello es:{{hello}}</p> -->
  
